@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
	margin: 0;
	font-family: "Poppins", sans-serif;
}
navbar {
	height: 70px;
}
navbar nav {
	font-size: 14px;
	color: #454545;
}
